.blogDetails {
  /* border: 1px solid red; */
  margin: auto;
  max-width: 600px;
  text-align: left;
  margin-top: 3rem;
  padding: 20px;
}
.blogDetails h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 10px;
}
.blogDetails div {
  margin: 20px 0;
}
.blogDetails button {
  margin-right: 1rem;
  background: #f1356d;
  color: #fff;
  border: 0;
  outline: none;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}